<!doctype html>
<html>

<head>
    <title>{{title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles/styles.css">
</head>

<body>
    <header>
        <nav>
            <a href="/">All</a> {% if 'username' in session %}
            <a href="/user">My Posts</a>
            <a href="/newpost">New Post</a>
            <a href="/logout">Logout</a> {% else %}
            <a href="/login">Login</a> {% endif %}
        </nav>
    </header>
    <main>
        {% block content %} {% endblock %}
    </main>
</body>

</html>