{% extends "base.html" %} {% block content %}
<div class="formpost">
    <h1>Make a New Post as {{session['username']}}</h1>
    <form method='post'>
        <label>
        Title:
        <input type="text" name='title' required />
        {% if not titleOK %}
        <span class="warning">
            Please provide a title
        </span>
        {% endif %}
    </label>
        <label>
        Body:
        <textarea name="body"></textarea>
    </label>
        <label class="warning">
        <div class="private">
            <div>Make this post public:</div>
            <input type="checkbox" name="public" checked value="public">
        </div>
    </label>
        <input class="btn" type="submit" value='Add Post' required /> {% if not bodyOK %}
        <span class="warning">
            Please provide some content
        </span> {% endif %}
    </form>
</div>
{% endblock %}